<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-COMPATIBLE" content="ie=edge">
    <title>Progressive Web Apps</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="manifest" href="manifest.json">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <meta name="apple-mobile-web-app-title" content="Wisdom Pet">
    <meta name="apple-touch-icon" content="images/icons/icon-152x152.png">

    <meta name="msapplication-TileImage" content="images/icons/icon-144x144.png">
    <meta name="msapplication-TileColor" content="#2F3BA2">

    <style>
        .page, #slideshow {
            height: 100vh;
            background: gray;
        }
    </style>

</head>
<body>
    <div class="loader">
        <div class="loader-text">Loading...</div>
        <div class="progress">
            <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                <span class="sr-only">80% Complete (danger)</span>
            </div>
        </div>
    </div>
    <header>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-toggle="collapse"
                            data-target="#collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#slideshow" class="navbar-brand">
                        <h1>Wisdom <span class="subhead">Pet medicine</span> </h1>
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="collapse">
                    <ul class="nav navbar-nav navbar-right">

                        <li role="presentation" class="active"><a href="#slideshow">Slideshow</a></li>
                        <li role="presentation"><a href="#adoption">Adoption</a></li>
                        <li role="presentation"><a href="#appointments">Appointments</a></li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <script id="slideshow-template" type="text/x-handlebars-template">
        <div class="carousel fade" data-ride="carousel" id="slideshow">
            <div class="carousel-inner">
                {{#each slideshow}}
                {{#if @first}}
                <div class="item active"><img src="images/pets/{{filename}}.jpg" alt="{{pet}} photo"></div>
                {{else}}
                <div class="item"><img src="images/pets/{{filename}}.jpg" alt="{{pet}} photo"></div>
                {{/if}}
                {{/each}}
            </div><!--carousel inner -->
            <a class="left carousel-control" href="#slideshow" role="button" data-slide="prev"></a>
            <a class="right carousel-control" href="#slideshow" role="button" data-slide="next"></a>
        </div><!--carousel fade -->
    </script>
    <div id="slideshow-content">

    </div>
    <main>
        <div class="page" id="adoption">
            <div class="container">
                <h2 class="page-headline">
                    Adoptions
                </h2>
                <p>Some text by topic. Click on photo for more information.</p>
                <script id="adoption-template" type="text/x-handlebars-template">
                    {{#each adoption}}
                        <div class="col-md-2 col-sm-3 col-xs-4 openpetmodal" data-toggle="modal" data-target="#wisdompetmodal" data-petname="{{pet}}" data-petbreed="{{breed}}" data-petowner="{{owner}}" data-petinfo="{{description}}" data-petimage="{{filename}}">
                            <img class="img-circle" src="images/pets/{{filename}}_tn.jpg" alt="{{pet}} photo">
                            <!-- column -->
                        </div>
                    {{/each}}
                </script>
                <div id="adoption-content"></div>

            </div>
            <!-- container -->
        </div>
        <!-- page adoption -->

        <div class="page" id="appointments">
            <div class="container">
                <h2 class="page-headline">
                    Appointments
                </h2>
                <p>Some text by topic. Click on photo for more information.</p>

                <script id="appointments-template" type="text/x-handlebars-template">
                    {{#each appointments}}
                        <div class="appointment media openpetmodal"  data-toggle="modal" data-target="#wisdompetmodal" data-petname="{{pet}}" data-petbreed="{{breed}}" data-petowner="{{owner}}" data-petinfo="{{reason}}" data-petimage="{{filename}}">
                            <div class="media-left media-top">
                                <img src="images/pets/{{filename}}_tn.jpg" alt="{{pet}} photo" class="media-object appointment-img img-rounded">
                            </div> <!-- media left media top -->
                            <div class="media-body">
                                <h3 class="media-heading appointment-heading">{{pet}},
                                    <!--<span class="appointment-breed">{{breed}}</span>-->
                                </h3>
                                <div class="appointment-owner"><span class="appointment-owner-title">Owner: </span>
                                <span class="appointment-owner-name">{{owner}}</span>
                                </div>
                                <div class="appointment-reason">{{reason}}</div>
                            </div>
                            <!-- media-body -->
                        </div>
                        <!-- appointment media openmodal -->
                    {{/each}}
                </script>

                <div id="appointments-content"></div>

            </div>
            <!-- container -->
        </div>
        <!-- page appointments -->


    </main>

    <div class="modal fade" id="wisdompetmodal" tabindex="-1" role="dialog" area-labelledby="petModal">
        <div class="modal-dialog" data-dismiss="modal" area-lable="Close" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal" area-label="Close" role="document">
                        <span aria-hidden="true">&times</span>
                    </button>
                    <h2 class="modal-title modal-petname"></h2>
                    <div class="modal-petbreed"></div>
                </div>
                <!-- modal-header -->
                <div class="modal-body">
                    <img class="img-responsive modal-petimage">
                    <p class="modal-petinfo"></p>
                </div>
            </div>
            <!-- modal-content -->
        </div>
        <!-- modal-dialog -->
    </div>
    <!-- modal-fade -->


    <script src="build/bundle.js"></script>
</body>
</html>